<div class="container" *ngIf="exibirInputFile">
  <!-- <h1>Página Home</h1> -->
  <div style="margin-top: 10px">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
      <label class="custom-file-label" for="customFile">
        {{textoDoInput}}
      </label>
    </div>
  </div>
</div>
<br>
<app-tabela-empregados></app-tabela-empregados>
<app-modal [textoCabecalhoModal]="textoCabecalhoModal"
[textoCorpoModal]="textoCorpoModal" [ocultarBotaPrimary]="ocultarBotaPrimary"></app-modal>