<ng-template  #template >

      <div class="modal-header" >
        <h4 class="modal-title pull-left">{{textoCabecalhoModal}}</h4>
        <button type="button" #botao class="close pull-rigth" aria-label="Close" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" >
 
        {{textoCorpoModal}}

      </div>
      
      <div class="modal-footer">
        <button class="btn btn-success" (click)="fecharModal()">Retorna</button>
        <button class="btn btn-primary" [(hidden)]="ocultarBotaPrimary" (click)="confirmarExclusao($event)">Confirma</button>

      </div>

</ng-template>