@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@


<div class="custom-file">
    <input type="file" class="custom-file-input" id="arquivoUpload" lang="es">
    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
</div>


<br />


@section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#arquivoUpload").change(function () {
                debugger
                console.log(this)
                event.preventDefault();
                var formData = new FormData()
                formData.append("arquivo", this.files[0])
                $(this).val(null)
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    async: true,
                    url: "/Empregados/SalvarArquivo",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (retorno) {
                        debugger
                        navegarParaPaginaListarEmpregados()
                    },
                    error: function (errormessage) {
                        alert(errormessage.reponseText);
                    },
                    afterSend: function () {
                        $("#tabelaCursosEmpregado").DataTable().reload();
                    }
                });

            })

            function navegarParaPaginaListarEmpregados() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    async: true,
                    url: "/Empregados/ListarEmpregados",
                    //data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    //success: function (retorno) {
    
                    //},
                    error: function (errormessage) {
                        alert(errormessage.reponseText);
                    },
                    afterSend: function () {
                        //$("#tabelaCursosEmpregado").DataTable().reload();
                    }
                });
            }
        })
    </script>
}

